<div class="container" style="margin-bottom:50px;">
	<h1>FAQs</h1>
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          How to I sign up for a Fanify event?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in">
		      <div class="panel-body">
		        Go to the gamewatch page that you are interested in and sign up for the event.  You will need to login to Facebook before you sign up for a specific event.  After clicking the sign up button, enter your payment information, then you're on the list!  Then just show up to the venue on the day of the event and go nuts.
		      </div>
		    </div>
	  </div>

	  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		          Do I need to login using Facebook?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <div class="panel-body">
		       	Yes.  We're all about connecting fans, and Facebook is the best way to do that.  This way you can see what friends are going and easily ask others to join you.  Don't worry, we will NEVER post without your permission.
		      </div>
		    </div>
	  </div>

	  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		          How do I make sure that I don't miss the games that I want to see?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <div class="panel-body">
		        After logging in, go to the "my events" tab and choose which teams you would like to follow.  We'll let you know when we're having an event with one of the teams you care about.
		      </div>
		    </div>
	  </div>

	  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
		          What am I getting besides an open bar and some specials?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse">
		      <div class="panel-body">
		        We are recreating the stadium effect without the stadium.  Cheering for your team when surrounded by friends and like-minded fans is an incredible experience that we provide for every team, even if you're not in your home city or at your university. 
		      </div>
		    </div>
	  </div>

	  </div>

</div>