<section class="subnav">
</section>

<div id="this-carousel-id" class="carousel slide banner-shadow"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="/assets/bearsvpackers.jpg" alt="" />
      <div class="carousel-caption">
      	<p>Sunday, January 19th</p>
      	<p>__________________</p>
      	<h2><i>BEARS VS PACKERS</i></h2>
        <p>Watch da Bears stomp those cheesey Northerners</p>
        <p>1:00pm Kickoff</p>
        <h3>Legends Sports Bar</h3>
        <div class="reservation-button center">
        	<p>MAKE A RESERVATION</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/kentuckybball.jpg" alt="" />
      <div class="carousel-caption">
        <p>Thursday, March 25th</p>
      	<p>__________________</p>
      	<h2><i>KENTUCKY: FINAL FOUR</i></h2>
        <p>See our Cats go for the trophy</p>
        <p>7:00pm Tipoff</p>
        <h3>Ainsworth Sports Bar</h3>
        <div class="reservation-button center">
        	<p>MAKE A RESERVATION</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/sportsbar1.jpg" alt="" />
      <div class="carousel-caption">
        <p>Tuesday, May 7th</p>
      	<p>__________________</p>
      	<h2><i>BRAZIL WORLD CUP FIRST ROUND</i></h2>
        <p>Come see Brazil defend their right</p>
        <p>3:00pm Kickoff</p>
        <h3>Brother Jimmy's</h3>
        <div class="reservation-button center">
        	<p>MAKE A RESERVATION</p>
        </div>
      </div>
    </div>
    
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<section class="moregames">
    <div class="container center">
        <h2><i>----------------------- Never Miss A Game -----------------------</i></h2>
        <img src="/assets/othersports.png" width="800" alt="" style="margin-bottom:50px" />
    </div>
</section>