<div class="navbar">
	<section class="bottom-links">
		<div class="container">
			<div class="bottom-links-holder">
				<%= link_to "How it Works", howitworks_path, :class=>"bottom-nav-links" %>
				<%= link_to "FAQ", faq_path, :class=>"bottom-nav-links" %>
				<%= link_to "Contact", contact_path, :class=>"bottom-nav-links" %>
				<%= link_to "Team", team_path, :class=>"bottom-nav-links" %>
			</div>
		</div>
	</section>
	<section class="copyright-section">
		<div class="container">
			<div style="margin-top:10px"
				<p>© 2013 Sports Alliance</p>
			</div>
		</div>
	</section>
</div>